/* Общий фон и стиль окна */
QWidget, QStackedWidget, QTabWidget::pane, QScrollArea, QListWidget {
    background-color: #2a2a2e;
    color: #dcdcdc;
    font-size: 16px;
}

/* QLineEdit */
QLineEdit {
    border: 2px solid #3b3b3e;
    border-radius: 10px;
    padding: 8px;
    background-color: #333337;
    color: #dcdcdc;
}
QLineEdit:focus, QLineEdit:hover {
    border-color: #6363a6;
    background-color: #2d2d33;
}

/* QComboBox */
QComboBox {
    border: 2px solid #3b3b3e;
    border-radius: 10px;
    padding: 8px;
    background-color: #333337;
    color: #dcdcdc;
}
QComboBox QAbstractItemView {
    background-color: #2d2d33;
    selection-background-color: #41415a;
    color: #dcdcdc;
}
QComboBox:hover, QComboBox:focus {
    border-color: #525275;
    background-color: #2d2d33;
}

/* QPushButton */
QPushButton {
    border: 2px solid #3b3b3e;
    border-radius: 10px;
    padding: 8px;
    background-color: #333337;
    color: #dcdcdc;
}
QPushButton:hover {
    background-color: #4a4a4e;
    border-color: #6363a6;
}
QPushButton:pressed {
    background-color: #4d4d53;
}

/* QTabWidget и вкладки */
QTabWidget::pane {
    border: 2px solid #3b3b3e;
    background-color: #333337;
}
QTabBar::tab {
    background-color: #333337;
    border: 2px solid #3b3b3e;
    padding: 6px;
    margin: 2px;
    color: #dcdcdc;
    font-size: 14px;
}
QTabBar::tab:selected {
    background-color: #2d2d33;
    color: #ffffff;
}

/* QScrollArea */
QScrollArea {
    border: 2px solid #3b3b3e;
}

/* QListWidget */
QListWidget {
    border: 2px solid #3b3b3e;
    background-color: #333337;
    color: #dcdcdc;
}
QListWidget::item:selected {
    background-color: #41415a;
    color: #ffffff;
}
