/* Общий фон и стиль окна */
QWidget, QStackedWidget, QTabWidget::pane, QScrollArea, QListWidget {
    background-color: #f5f5f7;
    color: #2d2d2d;
    font-size: 16px;
}

/* QLineEdit */
QLineEdit {
    border: 2px solid #d3d3d6;
    border-radius: 10px;
    padding: 8px;
    background-color: #eaeaec;
    color: #2d2d2d;
}
QLineEdit:focus, QLineEdit:hover {
    border-color: #9b9bc9;
    background-color: #e0e0e3;
}

/* QComboBox */
QComboBox {
    background-color: #e7e7e7;
    color: #2b2b2b;
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    padding: 8px 30px 8px 8px;
    font-size: 16px;
}

QComboBox:hover {
    border-color: #a1a1a1;
}

QComboBox:focus {
    border-color: #9a9edb;
    background-color: #f0f0f0;
}

/* Стрелка и меню в светлой теме */
QComboBox::down-arrow {
    image: url(res/arrow_down.png);
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

QComboBox::drop-down {
    border: none;
    width: 20px;
    background: transparent;
}

QComboBox QAbstractItemView {
    background-color: #e7e7e7;
    color: #2b2b2b;
    selection-background-color: #9a9edb;
    border: 1px solid #b3b3b3;
}


/* QPushButton */
QPushButton {
    border: 2px solid #d3d3d6;
    border-radius: 10px;
    padding: 8px;
    background-color: #eaeaec;
    color: #2d2d2d;
}
QPushButton:hover {
    background-color: #d8d8de;
    border-color: #9b9bc9;
}
QPushButton:pressed {
    background-color: #c4c4cb;
}

/* QTabWidget и вкладки */
QTabWidget::pane {
    border: 2px solid #d3d3d6;
    background-color: #eaeaec;
}
QTabBar::tab {
    background-color: #eaeaec;
    border: 2px solid #d3d3d6;
    padding: 6px;
    margin: 2px;
    color: #2d2d2d;
    font-size: 14px;
}
QTabBar::tab:selected {
    background-color: #e0e0e3;
    color: #2d2d2d;
}

/* QScrollArea */
QScrollArea {
    border: 2px solid #d3d3d6;
}

/* QListWidget */
QListWidget {
    border: 2px solid #d3d3d6;
    background-color: #eaeaec;
    color: #2d2d2d;
}
QListWidget::item:selected {
    background-color: #c6c6db;
    color: #2d2d2d;
}
